
.video-preview-effect:hover{
    background-color: #dbdbdb;
    box-shadow: 0 0 0 6px #dbdbdb;
    transition: 0.4s;
    border-radius: 15px;
    cursor: pointer;
}

.video-preview-effect:hover .video-time{
    opacity: 0;
    transition: 0.7s;
}

.video-title{
    margin-top: 0;
    margin-bottom: 6px;
    width: 200px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.video-author,
.video-stats{
    font-size: 13px;
    color: rgb(96, 96, 96);
}

.video-author{
    margin-bottom: 4px;
}

.thumbnail{
    width: 100%;
    border-radius: 12px;
 }

.thumbnail-row{
    margin-bottom: 6px;
    position: relative;
}

 .video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
 
/* Для экранов менее 645px: 1 колонка */
@media (max-width: 645px) {   /*600*/
    .video-grid {
        grid-template-columns: 1fr; 
    } 
}

@media (min-width: 646px) and (max-width: 1095px) {  
    .video-grid {
        grid-template-columns: 1fr 1fr; 
    } 
}

@media (min-width: 1096px) and (max-width: 1425px) {  
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr; 
    } 
}

/* Для экранов шире 1425px: 4 колонки */
@media (min-width: 1425px) {  
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } 
}


/* 1425px */

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture{
    width: 74%;
    border-radius: 50px;
}



.video-time {
    font-size: 12px;
    font-weight: 500;
    padding: 2px 5px;
    border-radius: 6px;
    background-color:rgba(0, 0, 0, 0.6);
    color: white;
    position: absolute;
    bottom: 12px;
    right: 8px;
    opacity:0.9;
}